body {
    color: white;
    background: #0696d5;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #54ac5c;
    text-align: center;
    font: 700 26px "Josefin Sans";
    padding: 20px;
    font-size: 32px;
    color:#5c4152;
}

.chamada {
    background: #fcbc0c;
    padding: 80px 20px 80px 20px;
    display: flex;
    justify-content: center;
    border-top: white 2px solid;
    border-bottom: white 3px solid;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color: #5c4152;
    text-align: center;
}

iframe {
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 60px black;
}

img{
    border-radius: 20px;
}